@model GdzieIzKim.Models.Lokalizacja

@{
    ViewBag.Title = "Details";
}

<h2>Lokalizacje</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kategoria.NazwaKat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategoria.NazwaKat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NazwaLoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazwaLoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdresLoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdresLoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformacjeLoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InformacjeLoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SzerokoscLoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SzerokoscLoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DlugoscLoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DlugoscLoc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.LokalizacjaId }) |
    @Html.ActionLink("Powrót do listy lokalizacji", "Index")
</p>
